.wallpaper {
  z-index: -999;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/homepage.jpeg");
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.greeting-block {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}

.greeting-primary {
  font-family: "Roboto-Light";
  color: #fff;
  font-size: 50px;
}

.greeting-secondary {
  font-family: "Roboto-Light";
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}

.greeting-button {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-family: Roboto-Light;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: background-color 0.5s, color 0.5s ease-in-out;
}

.greeting-button:hover {
  background-color: #9b6d6b;
  color: #fff;
}
