.primary-block {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.four-oh-four {
  padding: 30px;
  background-color: #e9535d;
  font-family: "Roboto-Light";
  color: #fff;
  font-size: 140px;
}

.info-primary {
  margin-top: 20px;
  font-family: "Roboto-Light";
  color: #464646;
  font-size: 50px;
}

.info-secondary {
  font-family: "Roboto-Light";
  color: #464646;
  font-size: 18px;
  margin: 20px 0 5px 0;
}

.greeting-button:hover {
  background-color: #9b6d6b;
  color: #fff;
}
