.footer-primary {
  margin-top: 100px;
  background-color: #363636;
  padding: 20px;
}

.footer-secondary {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-family: Roboto-Regular;
  background-color: #272727;
  color: #888;
}

.footer-secondary .fa-heart {
  color: #ff6c6c;
}

.footer-title {
  font-size: 15px;
  color: #e94a2d;
  font-family: Roboto-Bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-info {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #fff;
}

.footer-info-block {
  font-family: Roboto-Regular;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-info-block span {
  color: #fff;
  font-size: 14px;
}

.footer-info-block .footer-icon {
  color: #e94a2d;
  margin-right: 20px;
}

.footer-address {
  display: flex;
  flex-flow: column;
  align-items: center;
}
